In [30]:
import pandas as pd

## Scraping spring migration create dataframe

In [8]:
spring = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-adult-first&year=2020&season=spring")
spring2020 = spring[0]
spring = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-adult-first&year=2019&season=spring")
spring2019 = spring[0]
spring = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-adult-first&year=2018&season=spring")
spring2018 = spring[0]
spring = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-adult-first&year=2017&season=spring")
spring2017 = spring[0]
spring = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-adult-first&year=2016&season=spring")
spring2016 = spring[0]
spring = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-adult-first&year=2015&season=spring")
spring2015 = spring[0]
spring = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-adult-first&year=2014&season=spring")
spring2014 = spring[0]
spring = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-adult-first&year=2013&season=spring")
spring2013 = spring[0]
spring = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-adult-first&year=2012&season=spring")
spring2012 = spring[0]
spring = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-adult-first&year=2011&season=spring")
spring2011 = spring[0]

In [9]:
spring_final_df = spring2020.append([spring2019, spring2018, spring2017,spring2016, spring2015, spring2014, spring2013, spring2012, spring2011])

In [10]:
spring_final_df['Number'] = spring_final_df['Number'].fillna(1)

In [11]:
spring_final_df['Butterfly_Sighted']='Butterfly_Sighted'

In [39]:
spring_final_df.to_csv("C:/Users/t_d_o/Documents/capstone/spring_final_df.csv")

In [12]:
spring_final_df

,Unnamed: 0,Date,Town,State/Province,Latitude,Longitude,Number,Image,Butterfly_Sighted
0,1,06/14/20,Huntington,IN,40.9,-85.5,1.0,NaN,Butterfly_Sighted
1,2,06/14/20,Lehman Twp,PA,41.3,-76.0,0.0,NaN,Butterfly_Sighted
2,3,06/14/20,Ostrander,OH,40.3,-83.2,1.0,NaN,Butterfly_Sighted
3,4,06/14/20,Sifton RM,MB,49.7,-100.7,2.0,NaN,Butterfly_Sighted
4,5,06/14/20,South Windsor,CT,41.8,-72.5,1.0,NaN,Butterfly_Sighted
...,...,...,...,...,...,...,...,...,...
1141,1142,02/28/11,Boerne,TX,29.8,-98.8,1.0,NaN,Butterfly_Sighted
1142,1143,02/28/11,Santee,CA,32.9,-117.0,1.0,NaN,Butterfly_Sighted
1143,1144,02/27/11,Ramos Arizpe,COA,25.6,-101.0,1.0,NaN,Butterfly_Sighted
1144,1145,02/22/11,Saint Petersburg,FL,27.8,-82.6,1.0,NaN,Butterfly_Sighted
1145,1146,02/20/11,Saint Petersburg,FL,27.8,-82.6,1.0,NaN,Butterfly_Sighted

In [15]:
California = pd.read_html("https://www.experiencepismobeach.com/beach-and-outdoors/monarch-butterflies/monarch-grove/historical-counts/")
California_df = California[3]
California_df

                    0
0  2011-2012Â â€“ 23,050
1  2012-2013Â â€“ 28,000
2  2013-2014Â â€“ 34,000
3  2014-2015Â â€“ 31,100
4  2015-2016Â â€“ 28,000
5  2016-2017Â â€“ 28,000
6  2017-2018Â â€“ 12,075
7   2018-2019Â â€“ 3,077

## Scraping over wintering data adding 2 rows from current data from WWF

In [6]:
overwintering = pd.read_html("https://www.fws.gov/midwest/monarch/OverwinteringMonarchs.html")
overwintering = overwintering[0]
overwintering.loc[25] = [2018, 14.9]
overwintering.loc[26] = [2019, 6.99]

In [8]:
overwintering.columns = ['Year (data collected during December)', 'Total Area (Acres)']

In [9]:
overwintering['Population in Millons'] = round(overwintering['Total Area (Acres)'] * 20.26, 2)

In [10]:
overwintering = overwintering.melt(
    id_vars=['Year (data collected during December)'],
    var_name='Category',
    value_name='Metric'
)

## Scraping fall migration create dataframe

In [66]:
overwintering.to_csv("C:/Users/t_d_o/Documents/capstone/overwinteringdf.csv")

In [22]:
fall = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-peak-migration&year=2019&season=fall")
fall2019 = fall[0]
fall = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-peak-migration&year=2018&season=fall")
fall2018 = fall[0]
fall = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-peak-migration&year=2017&season=fall")
fall2017 = fall[0]
fall = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-peak-migration&year=2016&season=fall")
fall2016 = fall[0]
fall = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-peak-migration&year=2015&season=fall")
fall2015 = fall[0]
fall = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-peak-migration&year=2014&season=fall")
fall2014 = fall[0]
fall = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-peak-migration&year=2013&season=fall")
fall2013 = fall[0]
fall = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-peak-migration&year=2012&season=fall")
fall2012 = fall[0]
fall = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-peak-migration&year=2011&season=fall")
fall2011 = fall[0]

In [23]:
fall_final_df = fall2019.append([fall2018, fall2017,fall2016, fall2015, fall2014, fall2013, fall2012, fall2011])

In [24]:
fall_final_df['Number'] = fall_final_df['Number'].fillna(1)

In [25]:
fall_final_df['Butterfly_Sighted']='Butterfly_Sighted'

In [43]:
fall_final_df.to_csv("C:/Users/t_d_o/Documents/capstone/fall_final_df.csv")

In [26]:
fall_final_df

,Unnamed: 0,Date,Town,State/Province,Latitude,Longitude,Number,Image,Butterfly_Sighted
0,1,11/15/19,ZitÃ¡cuaro,MichoacÃ¡n de Ocampo,19.4,-100.3,300.0,NaN,Butterfly_Sighted
1,2,11/13/19,Contepec,MichoacÃ¡n de Ocampo,19.9,-100.2,200.0,NaN,Butterfly_Sighted
2,3,11/11/19,Brownsboro,TX,32.3,-95.6,100.0,NaN,Butterfly_Sighted
3,4,11/11/19,Monterrey,NLE,25.6,-100.3,1200.0,NaN,Butterfly_Sighted
4,5,11/10/19,Fairhope,AL,30.5,-87.9,50.0,NaN,Butterfly_Sighted
...,...,...,...,...,...,...,...,...,...
385,386,08/29/11,chicago,IL,41.9,-87.6,20.0,NaN,Butterfly_Sighted
386,387,08/28/11,New Richmond,WI,45.2,-92.6,36.0,NaN,Butterfly_Sighted
387,388,08/27/11,Winnetka,IL,42.1,-87.8,30.0,NaN,Butterfly_Sighted
388,389,08/26/11,New Richmond,WI,45.2,-92.6,24.0,NaN,Butterfly_Sighted
389,390,08/26/11,Shawano,WI,44.9,-88.8,50.0,NaN,Butterfly_Sighted

## Combining Spring and fall data frames

In [17]:
combined_final_df = fall_final_df.append([spring_final_df])

In [18]:
combined_final_df

,Unnamed: 0,Date,Town,State/Province,Latitude,Longitude,Number,Image
0,1,11/15/19,ZitÃ¡cuaro,MichoacÃ¡n de Ocampo,19.4,-100.3,300.0,NaN
1,2,11/13/19,Contepec,MichoacÃ¡n de Ocampo,19.9,-100.2,200.0,NaN
2,3,11/11/19,Brownsboro,TX,32.3,-95.6,100.0,NaN
3,4,11/11/19,Monterrey,NLE,25.6,-100.3,1200.0,NaN
4,5,11/10/19,Fairhope,AL,30.5,-87.9,50.0,NaN
...,...,...,...,...,...,...,...,...
1141,1142,02/28/11,Boerne,TX,29.8,-98.8,1.0,NaN
1142,1143,02/28/11,Santee,CA,32.9,-117.0,1.0,NaN
1143,1144,02/27/11,Ramos Arizpe,COA,25.6,-101.0,1.0,NaN
1144,1145,02/22/11,Saint Petersburg,FL,27.8,-82.6,1.0,NaN
1145,1146,02/20/11,Saint Petersburg,FL,27.8,-82.6,1.0,NaN

In [16]:
spring_final_df

,Unnamed: 0,Date,Town,State/Province,Latitude,Longitude,Number,Image
0,1,06/12/20,Beach Haven,NJ,39.7,-74.1,1.0,NaN
1,2,06/12/20,Gomer,OH,40.8,-84.2,1.0,NaN
2,3,06/12/20,Keyport,NJ,40.4,-74.2,1.0,NaN
3,4,06/12/20,Libertyville,IL,42.3,-88.0,1.0,NaN
4,5,06/12/20,Morris,MB,49.4,-97.4,1.0,NaN
...,...,...,...,...,...,...,...,...
1141,1142,02/28/11,Boerne,TX,29.8,-98.8,1.0,NaN
1142,1143,02/28/11,Santee,CA,32.9,-117.0,1.0,NaN
1143,1144,02/27/11,Ramos Arizpe,COA,25.6,-101.0,1.0,NaN
1144,1145,02/22/11,Saint Petersburg,FL,27.8,-82.6,1.0,NaN
1145,1146,02/20/11,Saint Petersburg,FL,27.8,-82.6,1.0,NaN

In [41]:
earliest_by_state = spring_final_df[spring_final_df.groupby('State/Province').Date.transform('min') == spring_final_df['Date']]

In [43]:
earliest_by_state.to_csv("C:/Users/t_d_o/Documents/capstone/earliest_by_state.csv")

In [44]:
earliest_by_state

,Unnamed: 0,Date,Town,State/Province,Latitude,Longitude,Number,Image
268,269,06/03/20,Nibley,Utah,41.7,-111.8,1.0,NaN
323,324,06/02/20,Sheridan,WY,44.8,-107.0,1.0,NaN
1195,1196,05/15/20,Kelowna,BC,49.9,-119.5,3.0,NaN
1443,1444,04/26/20,North Branford,CT,41.3,-72.8,1.0,NaN
1628,1629,04/08/20,Columbia,MD,39.2,-76.9,1.0,NaN
...,...,...,...,...,...,...,...,...
819,820,04/08/11,Tepic,NAY,21.5,-104.9,1.0,NaN
832,833,04/07/11,Newburgh,IN,38.0,-87.4,1.0,NaN
876,877,04/04/11,Atco,NJ,39.8,-74.9,1.0,NaN
978,979,03/22/11,Gomez Palacios,DGO,25.6,-103.5,1.0,NaN
1057,1058,03/15/11,Manuel Benavides,CHH,29.1,-103.7,1.0,NaN

In [13]:
milkweed = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=milkweed-first&year=2020&season=spring")
milkweed2020 = milkweed[0]
milkweed = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=milkweed-first&year=2019&season=spring")
milkweed2019 = milkweed[0]
milkweed = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=milkweed-first&year=2018&season=spring")
milkweed2018 = milkweed[0]
milkweed = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=milkweed-first&year=2017&season=spring")
milkweed2017 = milkweed[0]
milkweed = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=milkweed-first&year=2016&season=spring")
milkweed2016 = milkweed[0]
milkweed = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=milkweed-first&year=2015&season=spring")
milkweed2015 = milkweed[0]
milkweed = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=milkweed-first&year=2014&season=spring")
milkweed2014 = milkweed[0]
milkweed = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=milkweed-first&year=2013&season=spring")
milkweed2013 = milkweed[0]
milkweed = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=milkweed-first&year=2012&season=spring")
milkweed2012 = milkweed[0]
milkweed = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=milkweed-first&year=2011&season=spring")
milkweed2011 = milkweed[0]

In [14]:
milkweed_df = milkweed2020.append([milkweed2019, milkweed2018, milkweed2017, milkweed2016, milkweed2015, milkweed2014, milkweed2013, milkweed2012, milkweed2011])

In [15]:
milkweed_df['Number'] = milkweed_df['Number'].fillna(1)

In [16]:
milkweed_df['Butterfly_Sighted']='Milkweed_Sighted'

In [6]:
milkweed_df.to_csv("C:/Users/t_d_o/Documents/capstone/milkweed_df.csv")

In [27]:
combined_final_df = milkweed_df.append([spring_final_df, fall_final_df])

In [28]:
combined_final_df.to_csv("C:/Users/t_d_o/Documents/capstone/combined_final_df.csv")

In [34]:
state_ave_temp = pd.read_csv('C:/Users/t_d_o/Documents/capstone/110-tavg-201205-3.csv')

b'Skipping line 4: expected 1 fields, saw 6\nSkipping line 5: expected 1 fields, saw 6\nSkipping line 6: expected 1 fields, saw 6\nSkipping line 7: expected 1 fields, saw 6\nSkipping line 8: expected 1 fields, saw 6\nSkipping line 9: expected 1 fields, saw 6\nSkipping line 10: expected 1 fields, saw 6\nSkipping line 11: expected 1 fields, saw 6\nSkipping line 12: expected 1 fields, saw 6\nSkipping line 13: expected 1 fields, saw 6\nSkipping line 14: expected 1 fields, saw 6\nSkipping line 15: expected 1 fields, saw 6\nSkipping line 16: expected 1 fields, saw 6\nSkipping line 17: expected 1 fields, saw 6\nSkipping line 18: expected 1 fields, saw 6\nSkipping line 19: expected 1 fields, saw 6\nSkipping line 20: expected 1 fields, saw 6\nSkipping line 21: expected 1 fields, saw 6\nSkipping line 22: expected 1 fields, saw 6\nSkipping line 23: expected 1 fields, saw 6\nSkipping line 24: expected 1 fields, saw 6\nSkipping line 25: expected 1 fields, saw 6\nSkipping line 26: expected 1 fields, saw 6\nSkipping line 27: expected 1 fields, saw 6\nSkipping line 28: expected 1 fields, saw 6\nSkipping line 29: expected 1 fields, saw 6\nSkipping line 30: expected 1 fields, saw 6\nSkipping line 31: expected 1 fields, saw 6\nSkipping line 32: expected 1 fields, saw 6\nSkipping line 33: expected 1 fields, saw 6\nSkipping line 34: expected 1 fields, saw 6\nSkipping line 35: expected 1 fields, saw 6\nSkipping line 36: expected 1 fields, saw 6\nSkipping line 37: expected 1 fields, saw 6\nSkipping line 38: expected 1 fields, saw 6\nSkipping line 39: expected 1 fields, saw 6\nSkipping line 40: expected 1 fields, saw 6\nSkipping line 41: expected 1 fields, saw 6\nSkipping line 42: expected 1 fields, saw 6\nSkipping line 43: expected 1 fields, saw 6\nSkipping line 44: expected 1 fields, saw 6\nSkipping line 45: expected 1 fields, saw 6\nSkipping line 46: expected 1 fields, saw 6\nSkipping line 47: expected 1 fields, saw 6\nSkipping line 48: expected 1 fields, saw 6\nSkipping line 49: expected 1 fields, saw 6\nSkipping line 50: expected 1 fields, saw 6\nSkipping line 51: expected 1 fields, saw 6\nSkipping line 52: expected 1 fields, saw 6\n'

In [35]:
state_ave_temp

  March - May 2012 Contiguous U.S. Statewide Average Temperature
0                          Units: Degrees Fahrenheit
1                                       Missing: -99

In [ ]:
df1 = df.melt(id_vars=['City', 'State'], 
              value_vars=['Mango', 'Orange', 'Watermelon'],
              var_name='Fruit', value_name='Pounds')