In [2]:
import pandas as pd

In [35]:
spring = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-adult-first&year=2020&season=spring")
spring2020 = spring[0]
spring = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-adult-first&year=2019&season=spring")
spring2019 = spring[0]
spring = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-adult-first&year=2018&season=spring")
spring2018 = spring[0]
spring = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-adult-first&year=2017&season=spring")
spring2017 = spring[0]
spring = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-adult-first&year=2016&season=spring")
spring2016 = spring[0]
spring = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-adult-first&year=2015&season=spring")
spring2015 = spring[0]
spring = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-adult-first&year=2014&season=spring")
spring2014 = spring[0]
spring = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-adult-first&year=2013&season=spring")
spring2013 = spring[0]
spring = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-adult-first&year=2012&season=spring")
spring2012 = spring[0]
spring = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-adult-first&year=2011&season=spring")
spring2011 = spring[0]

In [36]:
spring_final_df = spring2020.append([spring2018, spring2017,spring2016, spring2015, spring2014, spring2013, spring2012, spring2011])

In [39]:
spring_final_df['Number'] = spring_final_df['Number'].fillna(1)

In [40]:
spring_final_df.to_csv("C:/Users/t_d_o/Documents/capstone/spring_final_df.csv")

In [41]:
spring_final_df

,Unnamed: 0,Date,Town,State/Province,Latitude,Longitude,Number,Image
0,1,06/04/20,Aroda,VA,38.3,-78.2,1.0,NaN
1,2,06/04/20,Fort Wayne,IN,41.1,-85.1,1.0,NaN
2,3,06/04/20,Kenton,OH,40.6,-83.6,0.0,NaN
3,4,06/04/20,Minneapolis,MN,45.0,-93.4,1.0,NaN
4,5,06/04/20,Minneapolis,MN,44.9,-93.3,1.0,NaN
...,...,...,...,...,...,...,...,...
1141,1142,02/28/11,Boerne,TX,29.8,-98.8,1.0,NaN
1142,1143,02/28/11,Santee,CA,32.9,-117.0,1.0,NaN
1143,1144,02/27/11,Ramos Arizpe,COA,25.6,-101.0,1.0,NaN
1144,1145,02/22/11,Saint Petersburg,FL,27.8,-82.6,1.0,NaN
1145,1146,02/20/11,Saint Petersburg,FL,27.8,-82.6,1.0,NaN

In [44]:
overwintering = pd.read_html("https://www.fws.gov/midwest/monarch/OverwinteringMonarchs.html")
overwintering = overwintering[0]

In [45]:
overwintering.to_csv("C:/Users/t_d_o/Documents/capstone/overwintering.csv")

In [31]:
fall = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-peak-migration&year=2019&season=fall")
fall2019 = fall[0]
fall = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-peak-migration&year=2018&season=fall")
fall2018 = fall[0]
fall = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-peak-migration&year=2017&season=fall")
fall2017 = fall[0]
fall = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-peak-migration&year=2016&season=fall")
fall2016 = fall[0]
fall = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-peak-migration&year=2015&season=fall")
fall2015 = fall[0]
fall = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-peak-migration&year=2014&season=fall")
fall2014 = fall[0]
fall = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-peak-migration&year=2013&season=fall")
fall2013 = fall[0]
fall = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-peak-migration&year=2012&season=fall")
fall2012 = fall[0]
fall = pd.read_html("https://journeynorth.org/sightings/querylist.html?map=monarch-peak-migration&year=2011&season=fall")
fall2011 = fall[0]

In [32]:
fall_final_df = fall2019.append([fall2018, fall2017,fall2016, fall2015, fall2014, fall2013, fall2012, fall2011])

In [42]:
fall_final_df['Number'] = fall_final_df['Number'].fillna(1)

In [43]:
fall_final_df.to_csv("C:/Users/t_d_o/Documents/capstone/fall_final_df.csv")